In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_excel('students.xlsx')
print(df)

    Name  Age  Marks
0   John   20     85
1  Alice   22     90
2    Bob   21     78
3   Sara   23     92

In [3]:
marks=df['Marks'].to_numpy()
print('Numpy Array of Marks')
print(marks)

Numpy Array of Marks
[85 90 78 92]

In [5]:
print('Highest Marks ',np.max(marks))

Highest Marks  92

In [8]:
print('Lowest Marks ',np.min(marks))

Lowest Marks  78

In [6]:
print('Average Marks ',np.mean(marks))

Average Marks  86.25

# .loc: Label Based
# .iloc: Index Based

In [14]:
print('original dataframe')
print(df)
print('location : Label Based')
print(df.loc[2], ['Name','Marks'])

original dataframe
    Name  Age  Marks
0   John   20     85
1  Alice   22     90
2    Bob   21     78
3   Sara   23     92
location : Label Based
Name     Bob
Age       21
Marks     78
Name: 2, dtype: object ['Name', 'Marks']

In [15]:
print('original dataframe')
print(df)
print('location : Index Based')
print(df.iloc[2,[1,2]])

original dataframe
    Name  Age  Marks
0   John   20     85
1  Alice   22     90
2    Bob   21     78
3   Sara   23     92
location : Index Based
Age      21
Marks    78
Name: 2, dtype: object

# Axis in Numpy: Axis 0: vertical direction: works column wise
    1. Axis 0:vertical direction: works column wise
    2. Axis 1: horizontal direction: works rows-wise

# Task 1: we have two students marks in 3 subjects
    # [[45,50,39],[30,45,49]]

In [20]:
marks_arr=np.array([[5,2,9],[10,40,60]])
print(marks_arr)

[[ 5  2  9]
 [10 40 60]]

In [23]:
print('Sum down each column',np.sum(marks_arr,axis=0))

Sum down each column [15 42 69]

In [24]:
print('Sum down each row',np.sum(marks_arr,axis=1))

Sum down each row [ 16 110]

In [25]:
print('Numpy Array of Marks')
print(marks)

Numpy Array of Marks
[85 90 78 92]

In [26]:
print(df)

    Name  Age  Marks
0   John   20     85
1  Alice   22     90
2    Bob   21     78
3   Sara   23     92

# Find students Name who got highest Marks

In [27]:
topper=df.loc[df['Marks'].idxmax(),'Name']
print(topper)

Sara

In [28]:
lastinclass=df.loc[df['Marks'].idxmin(),'Name']
print(lastinclass)

Bob

In [29]:
print('Next Example')

Next Example

In [34]:
top_index=df['Marks'].idxmax()
top_student=df.iloc[top_index,df.columns.get_loc('Name')]
print('Topper of the class is: ',top_student)

Topper of the class is:  Sara