# Basic Panda Example to read out from an excel file

In [5]:
import pandas as pd

In [6]:
df=pd.read_excel("students.xlsx")

In [7]:
print('Printing Data Frame as follows')
df

Printing Data Frame as follows

    Name  Age  Marks
0   John   20     85
1  Alice   22     90
2    Bob   21     78
3   Sara   23     92

In [12]:
dfpatients=pd.read_csv("patients.csv")

In [13]:
dfpatients

,patient_id,name,age,arrival_date,departure_date,service,satisfaction
0,PAT-09484753,Richard Rodriguez,24,2025-03-16,2025-03-22,surgery,61
1,PAT-f0644084,Shannon Walker,6,2025-12-13,2025-12-14,surgery,83
2,PAT-ac6162e4,Julia Torres,24,2025-06-29,2025-07-05,general_medicine,83
3,PAT-3dda2bb5,Crystal Johnson,32,2025-10-12,2025-10-23,emergency,81
4,PAT-08591375,Garrett Lin,25,2025-02-18,2025-02-25,ICU,76
...,...,...,...,...,...,...,...
995,PAT-a01bf534,Amber Vang,26,2025-12-02,2025-12-04,emergency,91
996,PAT-87fa07bd,Martha Smith,89,2025-11-18,2025-11-30,emergency,99
997,PAT-8f07e894,Jennifer James,72,2025-12-12,2025-12-21,ICU,69
998,PAT-4ae301e1,Kara Hernandez,47,2025-02-08,2025-02-20,ICU,61
999,PAT-e2ef9c5f,Lorraine Turner,64,2025-05-04,2025-05-08,general_medicine,83

In [14]:
print(dfpatients["name"])

0      Richard Rodriguez
1         Shannon Walker
2           Julia Torres
3        Crystal Johnson
4            Garrett Lin
             ...
995           Amber Vang
996         Martha Smith
997       Jennifer James
998       Kara Hernandez
999      Lorraine Turner
Name: name, Length: 1000, dtype: object

In [15]:
df.head()

    Name  Age  Marks
0   John   20     85
1  Alice   22     90
2    Bob   21     78
3   Sara   23     92

In [16]:
dfpatients.head() #Top five sort 0 -5

,patient_id,name,age,arrival_date,departure_date,service,satisfaction
0,PAT-09484753,Richard Rodriguez,24,2025-03-16,2025-03-22,surgery,61
1,PAT-f0644084,Shannon Walker,6,2025-12-13,2025-12-14,surgery,83
2,PAT-ac6162e4,Julia Torres,24,2025-06-29,2025-07-05,general_medicine,83
3,PAT-3dda2bb5,Crystal Johnson,32,2025-10-12,2025-10-23,emergency,81
4,PAT-08591375,Garrett Lin,25,2025-02-18,2025-02-25,ICU,76

In [17]:
dfpatients.tail(10)

,patient_id,name,age,arrival_date,departure_date,service,satisfaction
990,PAT-110d5794,Travis Hull,48,2025-11-12,2025-11-18,ICU,89
991,PAT-c7aac776,Darryl Acosta,83,2025-10-11,2025-10-20,surgery,91
992,PAT-8700b93a,Nicholas Lawrence,9,2025-10-25,2025-11-02,ICU,92
993,PAT-e5d6a9cf,Jacob Santos,76,2025-12-27,2026-01-02,ICU,96
994,PAT-2fa08c0d,Shawn Scott,79,2025-01-22,2025-01-31,emergency,79
995,PAT-a01bf534,Amber Vang,26,2025-12-02,2025-12-04,emergency,91
996,PAT-87fa07bd,Martha Smith,89,2025-11-18,2025-11-30,emergency,99
997,PAT-8f07e894,Jennifer James,72,2025-12-12,2025-12-21,ICU,69
998,PAT-4ae301e1,Kara Hernandez,47,2025-02-08,2025-02-20,ICU,61
999,PAT-e2ef9c5f,Lorraine Turner,64,2025-05-04,2025-05-08,general_medicine,83

In [18]:
dfpatients.shape

(1000, 7)

In [19]:
df.shape

(4, 3)

In [20]:
r,c=dfpatients.shape
print(f"Rows: {r} Columns: {c}")

Rows: 1000 Columns: 7

In [22]:
r,c=df.shape
print('Rows and Columns in Students Sheet')
print(f"Rows: {r} Columns: {c}")

Rows and Columns in Students Sheet
Rows: 4 Columns: 3

# Value: in data frame

In [23]:
print('Students Values')
df.values

Students Values

array([['John', 20, 85],
       ['Alice', 22, 90],
       ['Bob', 21, 78],
       ['Sara', 23, 92]], dtype=object)

In [24]:
print('Patients Values')
dfpatients.values

Patients Values

array([['PAT-09484753', 'Richard Rodriguez', 24, ..., '2025-03-22',
        'surgery', 61],
       ['PAT-f0644084', 'Shannon Walker', 6, ..., '2025-12-14',
        'surgery', 83],
       ['PAT-ac6162e4', 'Julia Torres', 24, ..., '2025-07-05',
        'general_medicine', 83],
       ...,
       ['PAT-8f07e894', 'Jennifer James', 72, ..., '2025-12-21', 'ICU',
        69],
       ['PAT-4ae301e1', 'Kara Hernandez', 47, ..., '2025-02-20', 'ICU',
        61],
       ['PAT-e2ef9c5f', 'Lorraine Turner', 64, ..., '2025-05-08',
        'general_medicine', 83]], dtype=object)